@use "./reset";
@use "./mediaqueries";
@use "./mixins";


.icon__heading1{

    &:hover{
        color: black;
        transition: 0.5s;
    }
}

.icon__heading2{

    &:hover{
        color: black;
        transition: 0.5s;
    }
}




.project__cards--first {
    &:hover{
        transform: scale(1.05);
        transition: transform 0.2s;
    }
  }
  

  .project__cards--second {
    &:hover{
        transform: scale(1.05);
        transition: transform 0.2s;
    }
  }

.project__cards--third {
  &:hover{
    transform: scale(1.05);
    transition: transform 0.2s;
}
}




.floating__icon1{
    
    &:hover{
        transform: scale(1.4);
        transition: transform 0.2s;
    }

    &.hide {
        opacity: 0;
      }
 
}

.floating__icon2{
    
    &:hover{
        transform: scale(1.4);
        transition: 0.2s;
    }
}

.floating__icon3{
   
    &:hover{
        transform: scale(1.4);
        transition: 0.2s;
    }
}



//typing animation


.typed {
    animation: typing;
    animation-duration: 3s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;

  
    &:hover {
      color: rgb(255, 0, 0);
      transition: 0.3s;
    }
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }



  //Custom Cursor

  .custom-cursor {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
  
    width: var(--cursor-size);
    height: var(--cursor-size);
  
    border: calc(var(--cursor-size)
                /30);
    border-radius: 50%;
  
    animation: cursor 800ms infinite 
            alternate ease-in-out;
      pointer-events: none;
}
  
.custom-cursor::before {
    content: "";
    display: block;
    width: calc(var(--cursor-size) / 2);
    height: calc(var(--cursor-size) / 2);
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    border: calc(var(--cursor-size) / 6) 
    solid rgba(var(--color), 0.5);
  
    border-radius: 50%;
  
    animation: cursor-before 800ms infinite 
            alternate ease-in-out;
}
  
.custom-cursor.click {
    animation: cursor-click 800ms 
        normal ease-in-out;
}
  
@keyframes cursor {
    from {
        transform: scale(1);
        border-color: #fff;
    }
  
    to {
        transform: scale(1.5);
        border-color: rgb(var(--color));
    }
}
  
@keyframes cursor-before {
    from {
        transform: translate(-50%, -50%) scale(1);
        border-color: rgba(var(--color), 0.5);
    }
  
    to {
        transform: translate(-50%, -50%) scale(1.5);
        border-color: rgba(var(--color), 0.75);
    }
}
  
@keyframes cursor-click {
  
    0%,
    100% {
        transform: scale(1);
    }
  
    50% {
        transform: scale(2.5);
        border-color: rgb(var(--color));
    }
}